body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Title Section */
#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}
.container-fluid {
  padding: 3% 15%;
}

/* Navbar Menu */
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
nav {
  margin-bottom: 5rem;
}
.nav-link {
  margin: 1rem 1rem;
  font-weight: 200;
  font-size: large;
}
.container {
  padding: 0;
}
/* Buttons */
.download-button {
  margin: 5% 1%;
}
/* Titile-image */
.title-images {
  width: 60%;
  transform: rotate(25deg);
  margin: 5%;
}

/* Features Section */
/* as the features id comes first and the container-fluid is in the id  */
#features .container-fluid {
  padding: 6rem;
  position: relative;
}

.features-div {
  padding: 6%;
}
.fa-4x {
  margin: 4%;
  color: #ef8172;
}
.fa-4x:hover {
  color: #ff4c68;
}

/* Testimonials Section  */
#testimonials {
  background-color: #ef8172;
  text-align: center;

  color: white;
}

.testimonials-image {
  width: 8%;
  border-radius: 100%;
  margin: 2%;
}
/* .carousel-inner {
  padding: 7% 15%;
} */

/* Press */
#press {
  background-color: #ef8172;

  text-align: center;
}
.Press-img {
  margin: 1% 1.5% 4% 1.5%;
}

/* Pricing Section */
#pricing {
  text-align: center;
  padding: 4rem;
}
.card {
  margin: 2rem;
}
/* Bottom Contanier  */
.bottom-container {
  background-color: #ff4c68;
  color: white;
  margin: 0;
}
#cta .container-fluid {
  padding: 2rem 1 rem;
}
#cta .download-button {
  margin: 1%;
}
#footer .bottom-container {
  padding-bottom: 1rem;
}
@media (max-width: 900px) {
  #title {
    text-align: center;
  }
  h1 {
    font-weight: 600;
  }
  .container-fluid {
    padding: 2% 8%;
  }
  #features .container-fluid {
    padding: 1rem;
    position: relative;
  }
  h2 {
    font-weight: 500;
    font-size: 2rem;
  }
}
